/* ==== GENERAL STYLES ==== */
* {
    box-sizing: border-box;
  }

h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}

  /* ==== BASE STYLES ==== */

main {
    background-image: url(./images/wedding-landing-background-peach.png);
    color: #444349;
  }

.cherry-blossom-bckgrnd img{
  width: 100vw;
}

.dark-bckgrnd {
    background-color: hsla(100, 0%, 0%, .6);
    color: #d2ba87;
  }

section {
    padding: 1rem;
    text-align: center;
  }

.section-headline {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    margin: 1.5rem auto 2rem;
}

h1
    {
        font-family: 'Great Vibes', cursive;
    }


h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    font-weight: bold;
}

section p ,address{
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #bd806e;
}

a:hover {
    color: #eda087;
    transition: color .15s ease-in-out;
}
  /* ==== HEADER ==== */

  .cover {
    background: url("./images/cover-photo-mobile.png") no-repeat 45% center/cover;
    display: table;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  
  @media (min-width: 768px) {
  
    .cover {
      background: url("./images/cover-photo.png") no-repeat  center/cover;
    }
  
  }
  
  .hero-text-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .hero-text {
    margin: 0 auto;
    padding: .625rem;
    color: hsla(0,0%,100%,.9);
    background: hsla(100,0%,0%,.5);
    line-height: 1.5;
  }
  
  .hero-text h1 {
    font-size: 3.15rem;
    color: #d2ba87;
    margin-bottom: 0; /* To negate the effect of the single-direction margin declaration. */
  }
  
  @media (min-width: 768px) {
  
    .hero-text {
      padding: 1.25rem;
      border-radius: 4px;
      width: 50%;
    }
  
    .hero-text h1 {
      font-size: 7rem;
    }
  
  }
  
  .tagline {
    font-size: 1.5rem;
    letter-spacing: .15rem;
  }
  
  @media (min-width: 768px) {
  
    .tagline {
      text-transform: uppercase;
      margin-bottom: 0;
    }
  
  }
  
  .tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
  }
  
  .date {
    font-size: 1.25rem;
    letter-spacing: .15rem;
    vertical-align: middle;
  }
  
  .date::before,
  .date::after {
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
  }

  /* ==== MAIN ==== */

  /* ---LOCATIONS---*/

.locations {
  top: -5rem;
  position: relative;
}


.events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.event-imgs {
  width: 7.5rem;
  margin: .5rem auto 2rem;
}

.events-texts { 
  margin-bottom: 3rem 3rem ;
}



.program-point::after {
  content: "";
  display: block;
  width: 60%;
  margin: 0 auto;
  border-top: 3px solid black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.program-point p {
  margin-bottom: .3rem;
}


@media screen and (min-width: 768px) {
  .events {
    display: flex;
    flex-direction: row;
    
  }
  .program-point {
    margin: 1rem;
    
  }
  .program-point::after {
    display: none;
  }
  #helyszinek {
    position:relative;
    top: -4rem;
    font-size: 4rem;
  }
}

/* ---PROGRAM--*/

.program-content {
  text-align: left;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
    line-height: 1.6rem;
}

#quote {
    font-style: italic;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px){
    .program-content {
        display: inline-block;  
    }

} 

 /* ---GIFTS--*/

.gifts-content p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    line-height: 1.3rem;
    max-width: 970px;
    margin: 2rem auto;
    
 }

 /* ---Q&A--*/

 .question-group p{
    text-align: left;
 }

 .question {
    font-weight: bold;
    margin-bottom: .8rem;
 }

 .question-group::after {
    content: "";
    display: block;
    width: 50%;
    margin: 0 auto;
    border-top: 3px solid #d2ba87;
    margin-top: 2rem;
    margin-bottom: 2rem;
     
 }

 .answer {
    margin-bottom: 2.2rem;
 }

 .faq h3 {
    font-weight: normal;
    margin-bottom: 2rem;
 }

 /* FORM */

 #regist {
  margin-top: 4rem;

 }

 .form {
  display: grid;
  text-align: left;
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto 2rem;
 }

.form [type="text"],
.form [type="email"],
.form [type="tel"],
.form textarea {
  width: 100%;
  margin: 0.5rem 0 1.5rem 0;
  margin-bottom: 1.5rem;
  padding: 1rem;
  color:rgb(224, 212, 186);
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(77, 70, 66), rgb(87, 78, 68));
  font-size: 1.2rem;
}

form legend {
font-size: 1.2rem;
margin-bottom: 1rem;
font-weight: bold;
}

fieldset {
  text-align: center;
  margin: 1.2rem;
}

.form textarea {
  height: 120px;
}

#form-textarea {
  display: none;
}

#form-textarea.show {
  display: block;
}

#dinner-requirement {
  display: none;
}

#dinner-requirement.show {
  display: block;
}

.form [type="submit"] {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(224, 212, 186), rgb(204, 177, 110));
  color: #444349;
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.form [type="submit"]:hover {
  background: linear-gradient(90deg, rgb(197, 179, 138), rgb(146, 123, 63));
  transition: 0.2s ease-in-out;
}


textarea::placeholder {
  background: linear-gradient(90deg, rgb(224, 212, 186), rgb(204, 177, 110));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
  font-size: 1rem;
}

::placeholder {
  background: linear-gradient(90deg, rgb(224, 212, 186), rgb(204, 177, 110));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
  font-size: 1rem;
}

 @media screen and (min-width: 768px) {
    .faq {
        
        width: 100%;
    }
    .question-group {
        display: inline-block;
        width: 30%;
        margin: .5rem;
        padding: 1.5rem;
        text-align: left;
        vertical-align: top;
        
    }
    .question-group::after {
        display: none;
    } 
 }

/* ---CONTACT---*/

.contact p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
}

.contact-content p {
  margin-bottom: 1.5rem;
}



/* ---FOOTER---*/

footer {
    background-color: #606060;
    height: 10vh;
    text-align: center;
    width: 100vw;
    display: table;
    color: white;
    font-size: .8rem;
    font-family: 'Mulish', sans-serif;
}

.footer-wrapper {
    display: table-cell;
    vertical-align: middle;  
}

@media screen and (min-width: 768px) {
    footer {
    max-height: 7vh;
    }
  
  }